.add-department-container {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    margin-left: 130px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
}

.add-department-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.add-department-form {
    display: flex;
    
    /* flex-direction: column; */
}

.department-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.department-group {
    flex: 1;
    margin-right: 10px;
}

.department-group input {
    /* width: 100%; */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #4e1111;
    position: absolute;
}

.department-group .error {
    color: red;
    font-size: 12px;
}

/* .department-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
} */

/* .department-buttons button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #426183;
    color: white;
    border-radius: 5px;
    margin-top: 40px;
    position: absolute;

} */

.department-buttons button[type="reset"] {
    background-color: #dc3545;

}
.btn{
  
 
    border: none;
    cursor: pointer;
    background-color: #3e5f80;
    color: white;
    border-radius: 30px;
    width: 100px;
    margin-top: 20px;
    /* margin-left: ; */
    
}


/* Responsive Styling */
@media (max-width: 768px) {
    .department-row {
        flex-direction: column;
    }
}
