src/Components/AdminDashboard/Dashboard.css

.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  /* margin-left: 250px; */
  padding: 20px;
  width: 100%;
  background-color: #447bb3;
  transition: margin-left 0.3s ease;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  background-color: #a7a9b6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-left: 310px;
  margin-top: -35px;
  width:1000px;
  position: absolute;
}

.topbar h2{
   font-size: 2rem;
  font-weight: bold;
   margin-right: 520px;
  position: absolute;
}
.admin-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.admin-pic-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.admin-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.admin-placeholder {
  width: 40px;
  height: 40px;
  background-color: #d1d5db;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4b5563;
  font-size: 18px;
}

.hidden-input {
  display: none;
}

.admin-name-btn {
  background: none;
  border: none;
  color: #1f2937;
  font-weight: 600;
  cursor: pointer;
}

.admin-name-btn:hover {
  text-decoration: underline;
}

.content {
  margin-top: 20px;
}

.content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 330px;
  position: absolute;
}
 